.menu1{width: 100%;text-align: center;}

.tombol {
  position:relative;
  left:-1.5%;
  padding:0px 0px 0px 0px;
  margin: 2px 1px 0px 1px;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
  width: 21.8%;
  height: 70px;
  background-color: #0000004d;
  border: 2px solid #fffb00;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.tombol:hover {
  background-color: #00ffc4;
}

.joinBtn {
  width: 100%;
  height: 100%;
  background-color: #424f4e;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.joinBtn:hover {
  background-color: #00ffc4;
}

.img-menu {
  width: 60px;
  height: 100%;
}

.shadow-menu{
  text-align:center;
  text-shadow: 0px 0px 2px #222,
               0px 0px 2px #222;
  animation: flickermenu 1s infinite alternate; 
}
/* Flickering animation */
@keyframes flickermenu {
    
  0%, 0%, 0%, 0%, 0%, 0%, 100% {

      text-shadow:
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua;
  
  }
  100%, 100%, 100% {        
      text-shadow: none;
  }    
}

.text {
    color: #555;
}

.tutoroverlay {
  text-align-last:left;
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: auto;
  transition: 0.5s;
}

.tutoroverlay-content {
  background-color:#979797;
  position: relative;
  top: 8%;
  width: 95%;
  text-align: initial;
  margin: 20px 0px 0px 2%;
  padding:30px;
}

.tutoroverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.tutoroverlay p {
  color: #0b1212;
    font-family: Helvetica, Serif;
    font-size: 18px;
    margin: 15px 0 0em;
}

.tutoroverlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.tutoroverlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .tutoroverlay {overflow-y: auto;}
  .tutoroverlay a {font-size: 20px}
  .tutoroverlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.tposisi{
height:30px;              
text-align:start;
background-color:#0000;
padding: 0px 0px 0px 0%;
font-weight: 100;
margin-top: 0.2rem;
margin-bottom: 0rem;
font-size: 2rem;
line-height: 65%;
}

.shadow-tut {
  text-align:center;
  text-shadow: 0px 0px 2px #222,
               0px 0px 2px #222;
font-size: 0.5rem;
  animation: flickertut 1.5s infinite alternate; 
}
/* Flickering animation */
@keyframes flickertut {
    
  0%, 0%, 0%, 0%, 0%, 0%, 100% {

      text-shadow:
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua;
  
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
.shadow-win {
  text-align:center;
  text-shadow: 0px 0px 2px #222,
               0px 0px 2px #222;
font-size: 0.5rem;
  animation: flickerwin 0.1s infinite alternate; 
}
/* Flickering animation */
@keyframes flickerwin {
    
  0%, 0%, 0%, 0%, 0%, 0%, 100% {

      text-shadow:
      0 0 2px red,
      0 0 2px red,
      0 0 2px red,
      0 0 2px red,
      0 0 2px red,
      0 0 2px red,
      0 0 2px red,
      0 0 2px red;
  
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.logonormal, .logokecil, .logomedium, .logopanjang {
  object-fit:scale-down;
}
  
.logonormal {
  height:65%;
  width:80%;
} 
  
.logokecil {
  margin:2% 0% 0px 0%;
  height:90%;
  width:50%;
} 
  
.logomedium {
  height:80%;
  width:70%;
} 
  
.logopanjang {
  margin:4% 0% 0px -4%;
  height:45%;
  width:95%;
} 
  
.namasitus {
  color: #516fe3; 
  font-size: 0px;
}  
  
.fb, .tawk, .tutup {
  border-radius:25px;
  font-size:11px;
  float: left;
  height:50px;
  width: 33.3%;
}
.fb, .tawk {
  color: white;
}
.fb {
  background-color: #0866ff;
}
.tawk {
  background-color: #03a84e;
}
.warnatextchat {
  font-size: xx-large;
  color: blue;
}
  
.videocara {
  height: 450px;
  width: 100%;
}

.warnabahaya {
  font-size: xx-large;
  color: red;
}

.cancelbtn1, .deletebtn1 {
  border-radius:25px;
  color:black;
  font-size:20px;
  float: left;
  height:50px;
  width: 49.9%;
}

/* Add a color to the cancel button */
.cancelbtn1 {
  background-color: #00ff6f;
}

/* Add a color to the delete button */
.deletebtn1 {
  background-color: #f44336;
}

.ttpupdatelink {
border-radius:25px;
  font-size:20px;
  float: left;
  height:50px;
  width: 100%;
  background-color: #00ff6f;
  color: black;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  font-size:7px;
  text-align: center;
}

/* The Modal (background) */
.modalbahaya1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #0000;
  padding-top: 50px;
}

/* Modal Content/Box */
.modalbahaya1-content {
  background-color: #a1afae;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfixbahaya::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
} 

.bgbahaya, .bgwaspada, .bgdomain, .bgchatadmin {
  background-repeat:no-repeat;
  background-position:top;
  height:500px;
}  

.color-red{
    color: #F00;
}
.color-green{
    color: #04ff00;
}

.color-yellow{
    color: #fcff01;
}

.color-blue{
    color: #2b00fe;
}
  
.keterangan-font-size{
    text-align:justify;
    font-size: 12px;
    font-weight: bolder;
    color: #444444;
}

  
  
.groupsm {
  padding: 0 0px;
  height:70px;
  width: 100%;
}   
.groupssemua, .groupsaman, .groupswaspada, .groupsbahaya, .groupsupdatelink{
  border-radius:25px;
  color:#fff;
  font-size:17px;
  padding: 0 0px;
  margin:3px;
  float: left;
  height:50px;
  width: 18.0%;
} 
 .groupssemua {
  background-color:#5f7475;
} 
 .groupsaman {
  background-color:#2c753f;
} 
.groupswaspada {
  background-color:#a5af09;
} 
.groupsbahaya {
  background-color:#9f001dfa;
}  
.groupsupdatelink {
  background-color:#56629b;
} 
  
.responsiveaman, .responsivewaspada, .responsivebahaya {
  border-radius:25px;
  padding: 0 0px;
  float: left;
  height:70px;

}
@media only screen and (max-width: 700px) {
  .responsiveaman, .responsivewaspada, .responsivebahaya{
    margin: 0px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsiveaman, .responsivewaspada, .responsivebahaya {

  }
}
.responsiveaman {
  background-color:#507f5c;
}
.responsivewaspada {
  background-color:#70751d;
}
.responsivebahaya {
  background-color:#6d1818fa;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  position: relative;
  border-radius:28px;
  width: 95%;
  height:70px;
  left:1.5%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 2px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.shadow-chat {text-shadow: 0px 0px 2px #222,0px 0px 2px #222;font-size: 0.5rem;
  animation: flickerchat 1.5s infinite alternate; }/* Flickering animation */
@keyframes flickerchat {0%, 0%, 0%, 0%, 0%, 0%, 100% {text-shadow:0 0 3px #09e6a8,0 0 3px #09e6a8,0 0 3px #09e6a8,0 0 3px #09e6a8,0 0 3px #09e6a8, 0 0 3px #09e6a8,0 0 3px #09e6a8,0 0 3px #09e6a8;} 20%, 24%, 55% {        text-shadow: none;}    }

.shadow-fbdemo {text-shadow: 0px 0px 0.1px #222,0px 0px 0.1px #222;font-size: 0.1rem;
  animation: flickerfbdemo 2.5s infinite alternate; }/* Flickering animation */
@keyframes flickerfbdemo {0%, 0%, 0%, 0%, 0%, 0%, 100% {text-shadow:0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525, 0 0 10px #087525;} 20%, 24%, 55% {  text-shadow: none;}}
  
.card{float:left;width:11.1%;background:0 0;border:none;text-align:center;display:inline-grid;position:relative}.card-content{margin:5px;color:#fff;font-size:12px;border:none;overflow:hidden;position:relative}
@media(max-width:1230px){.slot-sidebar-nav{flex-wrap:nowrap}
.card{width:33.3%!important}

   
.textmenu {
position:relative;
top:-7%;
color:#fff;
text-align: center;
font-size: 80%;
margin-bottom: 3.01%;
white-space: nowrap;
border: 1px solid #0000;
padding:0px 0% 0px 0%;
overflow: hidden;
text-overflow: ellipsis;
}

.hidescroll {
background-color:transparent;
width: 100%;
height: 100%;
overflow-y: scroll; /* Add the ability to scroll */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hidescroll::-webkit-scrollbar {
display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hidescroll {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: auto;  /* Firefox */
}
